.advantages-list {
  @include list-reset;

  text-align: center;
}

.advantages-list__item {
  background-color: $bg-lightgrey;
  color: $text-black;

  padding-top: 30px;

  &--blue-background {
    background-color: $bg-lightblue;
    color: $text-white;
  }

  &--white-background {
    background-color: $bg-white;
    color: $text-black;
  }
}

.advantages-list__reason-wrapper {
  padding-bottom: 30px;
}

.advantages-list__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
}

.advantages-list__reason-number {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  color: $text-lightgrey;
}

.advantages-list__reason {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  color: $text-lightgrey;

  &--white-text {
    color: $text-white;
  }
}

.advantages-list__item-feature {
  margin-left: 65px;

  background-color: $bg-white;
}

.advantages-list__image {
  display: block;

  width: 100%;
  height: auto;
}
