.advantages-header {
  background-color: #ffffff;

  text-align: center;

  padding-top: 46px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
}

.advantages-header__slogan {
  font-size: $titles-font-size;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-header__intro {
  font-size: $descriptions-font-size;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}
