.advantages-list {
  @include list-reset;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.advantages-list__item {
  background-color: $bg-lightgrey;
  color: $text-black;

  padding-top: 20px;

  &--blue-background {
    background-color: $bg-lightblue;
    color: $text-white;
  }

  &--white-background {
    background-color: $bg-white;
    color: $text-black;
  }
}

.advantages-list__reason-wrapper {
  padding-top: 18px;
  padding-bottom: 40px;

  &--different-paddings {
    padding-top: 8px;
    padding-bottom: 28px;
  }
}

.advantages-list__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;


  margin: 0;
}

.advantages-list__reason-number {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;

  padding-top: 8px;
  margin: 0;
}

.advantages-list__reason {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  color: $text-lightgrey;

  padding-top: 15px;
  margin: 0;

  &--white-text {
    color: $text-white;
  }
}

.advantages-list__item-feature {
  margin-left: 70px;

  background-color: $bg-white;
}

.advantages-list__image {
  display: block;

  width: 100%;
  height: auto;
}
