.advantages-list {
  @include list-reset;

  text-align: center;
}

.advantages-list__item {
  background-color: #eeeeee;
  color: #000000;

  &--blue-background {
    background-color: #81b3d2;
    color: #ffffff;
  }

  &--white-background {
    background-color: #ffffff;
    color: #000000;
  }

  padding-top: 30px;
  padding-bottom: 30px;
}

.advantages-list__reason-wrapper {
  padding-bottom: 30px;
}

.advantages-list__title {
  font-size: $titles-font-size;
  line-height: $titles-line-height;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list__reason-number {
  font-size: $descriptions-font-size;
  line-height: $descriptions-line-height;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.advantages-list__reason {
  font-size: $descriptions-font-size;
  line-height: $descriptions-line-height;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  &--white-text {
    color: #ffffff;
  }
}

.advantages-list__image {
  width: 100%;
  height: auto;
}

.advantages-list__item-feature {
  margin-left: 65px;

  background-color: #ffffff;
}
