.feature-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 26px;

  text-align: left;

  background-color: $bg-white;
}

.feature-list__item {
  margin-bottom: 11px;
}

.feature-list__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  margin: 0;
  margin-top: 15px;
}

.feature-list__description {
  font-size: $font-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  color: $text-lightgrey;

  margin: 0;
  margin-top: 16px;
}

@media (min-width: $tablet-width) {
  .feature-list {
    flex-direction: row;

    width: 768px;
    min-height: 303px;

    text-align: center;
  }

  .feature-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    width: 256px;
  }

  .feature-list__title {
    font-size: $font-size-largest;

    margin-bottom: 21px;
  }

  .feature-list__description {
    width: 162px;

    margin-top: 0;
    margin-bottom: 23px;
  }

  .feature-list__item--housing {
    order: 1;
  }

  .feature-list__item--souvenir {
    order: 3;
  }

  .feature-list__item--food {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .feature-list {
    width: 1200px;
  }

  .feature-list__item {
    width: 400px;
  }

  .feature-list__description {
    width: 290px;

    margin-bottom: 44px;
  }
}
