.feature-list {
  @include list-reset;

  text-align: left;

  background-color: #ffffff;
}

.feature-list__title {
  font-size: $titles-font-size;
  line-height: $titles-line-height;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.feature-list__description {
  font-size: $descriptions-font-size;
  line-height: $descriptions-line-height;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}
