.feedback-intro {
  background-color: $bg-white;

  text-align: center;

  margin-top: 37px;
  margin-bottom: 36px;
}

.feedback-intro__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  margin: 0;
  margin-bottom: 26px;
}

.feedback-intro__description {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;
  color: $text-lightgrey;
}
