.feedback {
  background-color: $bg-white;

  margin-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .feedback {
    width: 768px;

    margin-bottom: 93px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    width: 1200px;

    margin-bottom: 99px;
  }
}
