.feedback-form__full-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  border: none;

  padding: 0;

  margin-bottom: 42px;
}

.feedback-form__wrapper {
  width: 320px;
}

.feedback-form__legend {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  text-align: center;
}

.feedback-form__legend--fullname {
  margin-bottom: 18px;
}

.feedback-form__label {
  font-size: $font-size-medium;
  line-height: $line-height-big;
  font-weight: 400;
  color: $text-lightgrey;

  text-align: left;

  margin-left: 17px;
}

.feedback-form__input {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  text-align: left;

  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 23px;

  margin-left: 12px;

  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    color: inherit;
  }
}

.feedback-form__label--fullname {
  width: 30px;
}

.feedback-form__input--fullname {
  width: 230px;

  margin-bottom: 12px;
}

.feedback-form__input--surname {
  width: 192px;

  margin-bottom: 15px;
}

.feedback-form__input--patronymic {
  width: 194px;
}

.feedback-form__contacts {
  display: flex;
  flex-direction: column;

  border: none;

  padding: 0;

  margin-bottom: 45px;
}

.feedback-form__legend--contacts {
  margin-bottom: 20px;
}

.feedback-form__label--contacs {
  display: block;

  padding-left: 22px;

  margin-bottom: 3px;
}

.feedback-form__input--phone {
  min-width: 280px;

  margin-left: 17px;
  margin-bottom: 10px;
}

.feedback-form__input--email {
  min-width: 280px;

  margin-left: 17px;
}

.feedback-form__impression {
  display: flex;
  flex-direction: column;

  border: none;

  padding: 0;

  margin-bottom: 17px;
}

.feedback-form__legend--impression {
  margin-bottom: 36px;
}

.feedback-form__label--impression {
  position: relative;

  margin-left: 96px;
}

.feedback-form__input--impression + .feedback-form__label--impression {
  display: block;

  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  text-transform: none;
  color: $text-black;

  margin-bottom: 44px;
}

.feedback-form__input--impression + .feedback-form__label--impression::before {
  content: "";

  position: absolute;
  top: -12px;
  left: -77px;

  width: 55px;
  height: 55px;

  border: 2px solid #f2f2f2;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.feedback-form__input--impression:checked + .feedback-form__label--impression::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -61px;

  width: 22px;
  height: 22px;

  border: 1px solid $text-lightgrey;
  border-radius: 50%;
  background-color: $text-lightgrey;
}

.feedback-form__showplace {
  display: flex;
  flex-direction: column;

  border: none;

  padding: 0;

  margin-bottom: 6px;
}

.feedback-form__legend--showplace {
  margin-bottom: 31px;
}

.feedback-form__label--showplace {
  position: relative;

  margin-left: 96px;
}

.feedback-form__input--showplace + .feedback-form__label--showplace {
  display: block;

  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  text-transform: none;
  color: $text-black;

  margin-bottom: 54px;
}

.feedback-form__input--showplace + .feedback-form__label--showplace::before {
  content: "";

  position: absolute;
  top: -12px;
  left: -77px;

  width: 55px;
  height: 55px;

  border-radius: 5px;
  background-color: #f2f2f2;
}


.feedback-form__input--showplace:checked + .feedback-form__label--showplace::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -64px;

  width: 15px;
  height: 3px;

  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #000000;

  transform: rotate(45deg);
}

.feedback-form__review {
  display: block;
  border: none;

  padding: 0;

  margin-bottom: 48px;
}

.feedback-form__legend--review {
  margin-bottom: 17px;
}

.feedback-form__textarea {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  display: block;

  width: 280px;
  min-height: 160px;

  padding-top: 15px;
  padding-left: 21px;

  margin-left: 18px;

  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    color: inherit;
  }
}

.feedback-form__button {
  margin-left: 19px;
}
