.hotel-booking {
  background-color: $bg-white;

  text-align: center;

  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  margin-bottom: 15px;
}

.hotel-booking__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;
}

.hotel-booking__description {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;
  color: $text-lightgrey;

  margin-bottom: 40px;
}
