.hotel-booking {
  background-color: $bg-white;

  text-align: center;

  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  margin-bottom: 15px;
}

.hotel-booking__title {
  font-size: $font-size-largest;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;
}

.hotel-booking__description {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;
  color: $text-lightgrey;

  margin-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .hotel-booking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hotel-booking__title {
    display: block;

    font-size: $font-size-even-larger;

    margin-top: 10px;
  }

  .hotel-booking__description {
    display: block;

    width: 450px;
  }

  .hotel-booking__button {
    width: 458px;
  }
}
