.hotel-booking {
  background-color: #ffffff;

  text-align: center;

  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;

  margin-bottom: 15px;
}

.hotel-booking__title {
  font-size: $titles-font-size;
  line-height: $titles-line-height;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-booking__description {
  font-size: $descriptions-font-size;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  margin-bottom: 40px;
}
