.main-navigation {
  min-width: 320px;
  margin: 0 auto;

  font-size: $font-size-big;
  line-height: $line-height-largest;
  font-weight: 700;
  color: $text-white;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}
