.main-map {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .main-map {
    min-height: 350px;

    padding-bottom: 27px;
  }
}

@media (min-width: $desktop-width) {
  .main-map {
    padding-bottom: 25px;
  }
}
