.page-header {
  display: flex;
  flex-direction: column;

  background-color: $bg-white;
}

.page-header__logo-wrapper {
  position: relative;
  min-width: 320px;
  height: 56px;
}

.page-header__logo-link {
  position: absolute;

  top: 0;
  left: 50%;

  transform: translateX(-50%);
  /*--либо можно через отрицательный маргин в половину от ширины логотипа--*/

  min-height: 56px;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__big-logo {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__small-logo {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 158px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.page-header__small-logo-img {
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__logo-wrapper {
    height: 0;
  }

  .page-header__logo-link {
    top: -56px;
  }

  .page-header__big-logo {
    min-height: 518px;
  }

  .page-header__big-logo-img {
    width: 460px;
    height: auto;

    padding-bottom: 14px;
  }

  .page-header__small-logo {
    min-height: 300px;
  }

  .page-header__small-logo-img {
    width: 458px;
    height: auto;

    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__small-logo-img {
    padding-bottom: 17px;
  }
}
