.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.page-header__logo-wrapper {
  min-width: 320px;
  height: 56px;
}

.page-header__logo-link {
  position: absolute;

  top: 33.3%;
  left: 50%;

  transform: translateX(-50%);
  /*--либо можно через отрицательный маргин в половину от ширины логотипа--*/

  min-height: 56px;
}

.page-header__logo-image {
  width: 102px;
  height: 83px;
}

.page-header__big-logo {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 389px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page-header__small-logo {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 160px;

  padding-left: 20px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.page-header__small-logo-img {
  padding-top: 52px;
  padding-right: 30px;
  padding-bottom: 67px;
  padding-left: 30px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
  }

  .page-header__logo-wrapper {
    height: 0;
  }

  .page-header__logo-link {
    top: 0;
  }

  .page-header__big-logo {
    min-height: 518px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1200px;
  }
}
