.photo-block {
  min-width: 280px;
  margin: 0 20px;
  margin-bottom: 33px;

  padding-top: 37px;

  text-align: center;

  background-color: $bg-white;
}

.photo-block__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;

  margin: 0;
  margin-bottom: 26px;
}

.photo-block__description {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400px;
  color: $text-lightgrey;

  display: block;

  width: 275px;

  margin: 0 auto;
  margin-bottom: 28px;
}
