.site-list {
  @include list-reset;

  text-align: center;

  background-color: $bg-lightblue;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  display: block;
  padding-top: 10px;
  padding-bottom: 6px;

  color: $text-white;
}
