.social {
  background-color: $bg-white;

  text-align: center;
}

.social__hashtag {
  display: block;

  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
  color: $text-black;

  margin-bottom: 40px;
}

.social__social-list {
  @include list-reset;
}

.social__developed-by {
  font-size: $font-size-medium;
  line-height: $line-height-big;
  font-weight: 400;
  color: $text-black;
}

.social__developer-link {
  color: $text-black;
}
