.social {
  background-color: #ffffff;

  text-align: center;
}

.social__hashtag {
  display: block;

  font-size: $titles-font-size;
  line-height: $titles-line-height;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  margin-bottom: 40px;
}

.social__social-list {
  @include list-reset;
}

.social__developed-by {
  font-size: $descriptions-font-size;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.social__developer-link {
  color: #000000;
}
