.video-block {
  background-color: $bg-white;

  text-align: center;

  padding-bottom: 76px;
}

.video-block__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;

  margin: 0;
  margin-bottom: 26px;
}

.video-block__description {
  display: block;

  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;

  width: 276px;

  margin: 0 22px;
  margin-bottom: 35px;
}
