.video-block {
  background-color: $bg-white;

  text-align: center;

  padding-bottom: 49px;
}

.video-block__title {
  font-size: $font-size-big;
  line-height: $line-height-big;
  font-weight: 700;
}

.video-block__description {
  display: block;

  font-size: $font-size-medium;
  line-height: $line-height-medium;
  font-weight: 400;

  padding-bottom: 40px;
}
