.advantages-header {
  background-color: #ffffff;

  text-align: center;
}

.advantages-header__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-header__intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}
