/*$titles-font-size: 18px;
$titles-line-height: 26px;
$descriptions-font-size: 14px;
$descriptions-line-height: 21px;
$description-text: #333333;*/
/*-----------------------------------------------
          Переменные для фоновых цветов
-------------------------------------------------*/
$bg-lightblue: #81b3d2;
$bg-white: #ffffff;
$bg-lightgrey: #eeeeee;
/*-----------------------------------------------
              Переменные для шрифтов
-------------------------------------------------*/
$font-size-even-larger: 30px;
$font-size-largest: 21px;
$font-size-big: 18px;
$font-size-medium: 14px;
$line-height-largest: 40px;
$line-height-big: 26px;
$line-height-medium: 24px;
$line-height-small: 21px;
$text-lightgrey: #333333;
$text-black: #000000;
$text-white: #ffffff;

/*----------------------------------------------------
            Переменные для задания ширины
-----------------------------------------------------*/
$tablet-width: 768px;
$desktop-width: 1200px;
